@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
    overflow-X: hidden;
}







  img.small{
    max-width: 5rem;
    width: 100%;
  }
  
  img.medium{
    max-width: 30rem;
    width: 100%;
  }
  
  img.large{
  width: 100%;
  }

  .rowCatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }
  .row.center {
    justify-content: center;
  }
  
  .row.top{
    align-items: flex-start;
  }
  
  .row.start {
    justify-content: flex-start;
  }
  
  .col-1{
    flex: 1 1 25rem;
  }
  
  .col-2{
    flex: 2 1 50rem;
  }
  
  .col-3{
    flex: 3 1 75rem;
  }